.list {
    list-style-type:  none;
    color: black;
    position: relative;
    z-index: 1;
    font-size: 30px;
    margin-top: 200px;
    margin-left: 200px;
    font-family:  'Raleway', sans-serif;
}
.educ {
    padding-top: 15px;
}